/*//////////////////////////////////////////////////////////////////////*/
/*-----------------BIG TABLETS TO LAPTOPS--------1024px to 1200px------*/
/*//////////////////////////////////////////////////////////////////////*/
@media only screen and (max-width:1200px){
  .row{width:98%;}
  .nrzHeading h2 {font-size: 210%;}
  .nrzIHeading h2 {font-size: 210%;}
  
} 