/*//////////////////////////////////////////////////////////////////////*/
/*--------------------------DEFAULT STYLE------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  padding:10px;
}
html{
  background-color: #fff;
  color: rgb(14, 13, 13);
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.row{
  width:1200px;
  margin:0 auto;
}
.clearfix {
  zoom: 1
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION HEADER-------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.header{
  position: relative;
  background: linear-gradient(to top right, rgba(160, 8, 255, 0.712), rgba(0, 0, 0, 0.877)),
  url("Images/headerBackground.jpg");
  background-position: center;
  background-size: cover;
  height:95vh;
}
.header.clipIt{
  clip-path: polygon(0 0,100% 0,100% 80vh,0 100%);
}
/* main nav bar */
.navMenu{
  display: inline-block;
  opacity: 0.95;
} 
.navMenu ul{
  text-align: center;
  padding:18px 10px 10px 10px;
  list-style: none;
}
.navMenu ul li{
  display: inline-block;
  margin:0 14px 0 14px;
}
.navMenu ul li a:link,
.navMenu ul li a:visited{
  padding:0 8px 8px 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 105%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s,color 0.3s;
}
.navMenu ul li a:hover,
.navMenu ul li a:active {
  border-bottom: 2px solid #fff;
}
/* sticky navbar */

.sticky{
  position: fixed;
  top:0; 
  left:0;
  width:100%;
  background-color: rgba(253, 253, 253, 0.973);
  box-shadow: 10px 0 10px #555;
}
.sticky .navMenu ul li a:link,
.sticky .navMenu ul li a:visited {
  padding:0 3px 9px 3px;
  color: #555;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s, color 0.3s;
}

.sticky .navMenu ul li a:hover,
.sticky .navMenu ul li a:active {
  border-bottom: 2px solid #3500af;
}
/* Mobile navigation */
.mobileNavIcon,
.mobileNavIconCross {
  float: right;
  padding:20px;
  cursor: pointer;
  color: #fff;
  display: none;
}
.show.mobileNavIconCross{display: inline-block;}
.hide.mobileNavIconCross{display: none;}
.show.mobileNavIcon{display: inline-block;}
.hide.mobileNavIcon{display: none;}

/*MAIN HEADING*/
.headerHeading{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.headerHeading h1{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 320%;
  font-weight: 300;
}


/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION NRZ-------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.nrz{
  margin:50px 0 0 0;
  padding-top:30px;
  background-color: #f4f3f7;
}
.nrzHeading{
  text-align: center;
}
.nrzHeading h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}
.nrzHeading h2:after{
  margin-top: 10px;
  display: block;
  content: "";
  height:2px;
  width:1200px;
  background-color: #b49ee9;
}
.nrzInput {
  margin: 40px auto;
}

.nrzRandomInput {
  padding:30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}
.nrzRandomHeading h3{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}
.nrzRandomHeading h3:after {
  margin:10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.nrzRiForm {
  display: block;
}

#nrzInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#nrzInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.nrzRiButton {
  vertical-align: middle;
  display: inline-block;
}

.nrzRiButton a:link,
.nrzRiButton a:visited {
  display: inline-block;
  width:150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.nrzRiButton a:hover,
.nrzRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.nrzCustomInput {
  padding:30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.nrzCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.nrzCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.nrzCiForm {
  display: block;
}

#nrzInputDs {
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  vertical-align: middle;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#nrzInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.nrzCiButton {
  vertical-align: middle;
  display: inline-block;
}

.nrzCiButton a:link,
.nrzCiButton a:visited {
  display: inline-block;
  width:150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.nrzCiButton a:hover,
.nrzCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}
#putNrzCanvas{
  margin-top:50px;
  padding:30px;
}
#nrzChart{
  margin:auto;
  width: 90% !important;
  height:400px !important;
}
.nrzDivLPS{
  text-align: center;
  padding:20px 30px 20px 30px;
}
.nrzLPSHeading{
  margin-right:20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}
#nrzLPSForm{
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}
/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION NRZI-------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.nrzI{
  padding:60px 0 30px 0;
  background: linear-gradient(to top right, rgba(8, 8, 8, 0.699), rgba(13, 13, 14, 0.74)),
  url("Images/headerBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}
.nrzIHeading {
  text-align: center;
}
.nrzIHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}
.nrzIHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}
.nrzIInput{
  margin:40px auto;
}
.nrzIRandomInput{
  text-align: center;
}
.nrzIRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.nrzIRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}
.nrzIRiForm {
  display: block;
}
#nrzIInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}
#nrzIInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}
.nrzIRiButton{
  vertical-align: middle;
  display: inline-block;
}
.nrzIRiButton a:link,
.nrzIRiButton a:visited {
  display: inline-block;
  width:150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}
.nrzIRiButton a:hover,
.nrzIRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.nrzICustomInput{
  text-align: center;
}
.nrzICustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.nrzICustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}
.nrzICiForm {
  display: block;
}
#nrzIInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}
#nrzIInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}
.nrzICiButton {
  vertical-align: middle;
  display: inline-block;
}
.nrzICiButton a:link,
.nrzICiButton a:visited {
  display: inline-block;
  width:150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}
.nrzICiButton a:hover,
.nrzICiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putNrzICanvas {
  background: #fff;
  margin-top: 50px;

}
.putNrzICanvasAddPadding.addPadding {
  padding: 30px;
}

#nrzIChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}
.nrzIDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.nrzILPSHeading {
  color: black;
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#nrzILPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}
/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION NRZL------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.nrzL {
  padding-top:60px;
  background-color: #f4f3f7;
}

.nrzLHeading {
  text-align: center;
}

.nrzLHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.nrzLHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}

.nrzLInput {
  margin: 40px auto;
}

.nrzLRandomInput {
  padding:30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.nrzLRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.nrzLRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.nrzLRiForm {
  display: block;
}

#nrzLInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#nrzLInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.nrzLRiButton {
  vertical-align: middle;
  display: inline-block;
}

.nrzLRiButton a:link,
.nrzLRiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.nrzLRiButton a:hover,
.nrzLRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.nrzLCustomInput {
  padding:30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.nrzLCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.nrzLCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.nrzLCiForm {
  display: block;
}

#nrzLInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#nrzLInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.nrzLCiButton {
  vertical-align: middle;
  display: inline-block;
}

.nrzLCiButton a:link,
.nrzLCiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.nrzLCiButton a:hover,
.nrzLCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putNrzLCanvas {
  margin-top: 50px;
  padding: 30px;
}

#nrzLChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.nrzLDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.nrzLLPSHeading {
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#nrzLLPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION RZ--------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.rz {
  padding: 60px 0 30px 0;
  background: linear-gradient(to top right, rgba(8, 8, 8, 0.699), rgba(13, 13, 14, 0.74)),
    url("Images/headerBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.rzHeading {
  text-align: center;
}

.rzHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.rzHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}

.rzInput {
  margin: 40px auto;
}

.rzRandomInput {
  text-align: center;
}

.rzRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.rzRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.rzRiForm {
  display: block;
}

#rzInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#rzInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.rzRiButton {
  vertical-align: middle;
  display: inline-block;
}

.rzRiButton a:link,
.rzRiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.rzRiButton a:hover,
.rzRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.rzCustomInput {
  text-align: center;
}

.rzCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.rzCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.rzCiForm {
  display: block;
}

#rzInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#rzInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.rzCiButton {
  vertical-align: middle;
  display: inline-block;
}

.rzCiButton a:link,
.rzCiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.rzCiButton a:hover,
.rzCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putRzCanvas {
  background: #fff;
  margin-top: 50px;

}

.putRzCanvasAddPadding.addPadding {
  padding: 30px;
}

#rzChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.rzDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.rzLPSHeading {
  color: black;
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#rzLPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION MAN--------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.man {
  padding: 60px 0 30px 0;
  background-color: #f4f3f7;
}

.manInput {
  margin: 40px auto;
}

.manRandomInput {
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.manRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.manRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.manRiForm {
  display: block;
}

#manInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#manInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.manRiButton {
  vertical-align: middle;
  display: inline-block;
}

.manRiButton a:link,
.manRiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.manRiButton a:hover,
.manRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.manCustomInput {
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.manCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.manCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.manCiForm {
  display: block;
}

#manInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#manInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.manCiButton {
  vertical-align: middle;
  display: inline-block;
}

.manCiButton a:link,
.manCiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.manCiButton a:hover,
.manCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putManCanvas {
  margin-top: 50px;
  padding: 30px;
}

#manChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.manHeading {
  text-align: center;
}

.manHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.manHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}

.manDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.manLPSHeading {
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#manLPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

/*//////////////////////////////////////////////////////////////////////*/
/*------------------SECTION DIFFERENTIAL MANCHESTER-------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.diffMan {
  padding: 60px 0 30px 0;
  background: linear-gradient(to top right, rgba(8, 8, 8, 0.699), rgba(13, 13, 14, 0.74)),
    url("Images/headerBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.diffManHeading {
  text-align: center;
}

.diffManHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.diffManHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}

.diffManInput {
  margin: 40px auto;
}

.diffManRandomInput {
  text-align: center;
}

.diffManRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.diffManRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.diffManRiForm {
  display: block;
}

#diffManInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#diffManInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.diffManRiButton {
  vertical-align: middle;
  display: inline-block;
}

.diffManRiButton a:link,
.diffManRiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.diffManRiButton a:hover,
.diffManRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.diffManCustomInput {
  text-align: center;
}

.diffManCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.diffManCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.diffManCiForm {
  display: block;
}

#diffManInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#diffManInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.diffManCiButton {
  vertical-align: middle;
  display: inline-block;
}

.diffManCiButton a:link,
.diffManCiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.diffManCiButton a:hover,
.diffManCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putDiffManCanvas {
  background: #fff;
  margin-top: 50px;

}

.putDiffManCanvasAddPadding.addPadding {
  padding: 30px;
}

#diffManChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.diffManDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.diffManLPSHeading {
  color: black;
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#diffManLPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}


/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION AMI--------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.ami {
  padding: 60px 0 30px 0;
  background-color: #f4f3f7;
}

.amiInput {
  margin: 40px auto;
}

.amiRandomInput {
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.amiRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.amiRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.amiRiForm {
  display: block;
}

#amiInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#amiInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.amiRiButton {
  vertical-align: middle;
  display: inline-block;
}

.amiRiButton a:link,
.amiRiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.amiRiButton a:hover,
.amiRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.amiCustomInput {
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.amiCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.amiCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.amiCiForm {
  display: block;
}

#amiInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#amiInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.amiCiButton {
  vertical-align: middle;
  display: inline-block;
}

.amiCiButton a:link,
.amiCiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.amiCiButton a:hover,
.amiCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putAmiCanvas {
  margin-top: 50px;
  padding: 30px;
}

#amiChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.amiHeading {
  text-align: center;
}

.amiHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.amiHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}
.amiDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.amiLPSHeading {
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#amiLPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}


/*//////////////////////////////////////////////////////////////////////*/
/*------------------SECTION B8ZS-------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.bezs {
  padding: 60px 0 30px 0;
  background: linear-gradient(to top right, rgba(8, 8, 8, 0.699), rgba(13, 13, 14, 0.74)),
    url("Images/headerBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.bezsHeading {
  text-align: center;
}

.bezsHeading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.bezsHeading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}

.bezsInput {
  margin: 40px auto;
}

.bezsRandomInput {
  text-align: center;
}

.bezsRandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.bezsRandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.bezsRiForm {
  display: block;
}

#bezsInputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#bezsInputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.bezsRiButton {
  vertical-align: middle;
  display: inline-block;
}

.bezsRiButton a:link,
.bezsRiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.bezsRiButton a:hover,
.bezsRiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.bezsCustomInput {
  text-align: center;
}

.bezsCustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.bezsCustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.bezsCiForm {
  display: block;
}

#bezsInputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#bezsInputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.bezsCiButton {
  vertical-align: middle;
  display: inline-block;
}

.bezsCiButton a:link,
.bezsCiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.bezsCiButton a:hover,
.bezsCiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putBezsCanvas {
  background: #fff;
  margin-top: 50px;

}

.putBezsCanvasAddPadding.addPadding {
  padding: 30px;
}

#bezsChart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}
.bezsDivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.bezsLPSHeading {
  color: black;
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#bezsLPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION HDB3------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.hdb3 {
  padding: 60px 0 30px 0;
  background-color: #f4f3f7;
}

.hdb3Input {
  margin: 40px auto;
}

.hdb3RandomInput {
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.hdb3RandomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.hdb3RandomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.hdb3RiForm {
  display: block;
}

#hdb3InputCons0 {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#hdb3InputCons0:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.hdb3RiButton {
  vertical-align: middle;
  display: inline-block;
}

.hdb3RiButton a:link,
.hdb3RiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.hdb3RiButton a:hover,
.hdb3RiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

.hdb3CustomInput {
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(206, 206, 206);
}

.hdb3CustomHeading h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 300;
}

.hdb3CustomHeading h3:after {
  margin: 10px auto 30px auto;
  display: block;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #b49ee9;
}

.hdb3CiForm {
  display: block;
}

#hdb3InputDs {
  vertical-align: middle;
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 13px 20px 13px 20px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

#hdb3InputDs:hover {
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}

.hdb3CiButton {
  vertical-align: middle;
  display: inline-block;
}

.hdb3CiButton a:link,
.hdb3CiButton a:visited {
  display: inline-block;
  width: 150px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
    background-color 0.3s;
}

.hdb3CiButton a:hover,
.hdb3CiButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}

#putHdb3Canvas {
  margin-top: 50px;
  padding: 30px;
}

#hdb3Chart {
  margin: auto;
  width: 90% !important;
  height: 400px !important;
}

.hdb3Heading {
  text-align: center;
}

.hdb3Heading h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}

.hdb3Heading h2:after {
  margin-top: 10px;
  display: block;
  content: "";
  height: 2px;
  width: 1200px;
  background-color: #b49ee9;
}
.hdb3DivLPS {
  text-align: center;
  padding: 20px 30px 20px 30px;
}

.hdb3LPSHeading {
  margin-right: 20px;
  vertical-align: middle;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 120%;
  font-weight: 300;
}

#hdb3LPSForm {
  vertical-align: middle;
  letter-spacing: 1px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 80%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}

/*//////////////////////////////////////////////////////////////////////*/
/*-------------------------------FOOTER-------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.footer{
  height:20vh;
  background: linear-gradient(to top right, rgba(160, 8, 255, 0.712), rgba(0, 0, 0, 0.877)),
  url("Images/headerBackground.jpg");
}
.footerText{
  color: #fff;
  text-align: center;
}
.footerText p{
  margin-top: 30px;
  font-size: 80%;
  text-transform: capitalize;
}
.footerNav {
  margin-top: 40px;
  float: left;
}

.footerSocial {
  margin-top: 40px;
  float: right;
}

.footerBox ul {
  padding: 10px 0;
  list-style: none;
}

.footerBox ul li {
  display: inline-block;
}

.footerBox ul li a:link,
.footerBox ul li a:visited {
  color: #bea146;
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s, color 0.5s;
}

.footerBox ul li a:hover,
.footerBox ul li a:active {
  color: #aa8e36;
  border-bottom: 2px solid #aa8e36;
}