/*//////////////////////////////////////////////////////////////////////*/
/*--------------------------DEFAULT STYLE------------------------------ */
/*//////////////////////////////////////////////////////////////////////*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  padding:20px;
}
html{
  background-color: #fff;
  color: rgb(14, 13, 13);
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.row{
  width:1200px;
  margin:0 auto;
}
.clearfix {
  zoom: 1
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*//////////////////////////////////////////////////////////////////////*/
/*-----------------SECTION HEADER-------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.header{
  position: relative;
  background: linear-gradient(to top right,rgba(159, 4, 248, 0.445),rgba(2, 8, 95, 0.603)),url("/Static/Images/headerBackground.jpg");
  background-position: center;
  background-size: cover;
  height:95vh;
}
.header.clipIt{
  clip-path: polygon(0 0,100% 0,100% 80vh,0 100%);
}
/*NAVBAr*/
.navMenu{
  background-color: #b49ee9;

}
.navMenu ul{
  text-align: center;
  padding:10px 10px;
  list-style: none;
}
.navMenu ul li{
  display: inline-block;
  margin:0 14px 0 14px;
}
.navMenu ul li a:link,
.navMenu ul li a:visited{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 300;
  font-size: 105%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s,color 0.3s;
}
.navMenu ul li a:hover,
.navMenu ul li a:active {
  color: #3500af;
  border-bottom: 2px solid #fff;
}
/*MAIN HEADING*/
.headerHeading{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.headerHeading h1{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 320%;
  font-weight: 300;
}


/*//////////////////////////////////////////////////////////////////////*/
/*--------------------SECTION NRZ-------------------------------------- */
/*//////////////////////////////////////////////////////////////////////*/
.nrz{
  margin:50px 0 50px 0;
}
.nrzHeading{
  text-align: center;
}
.nrzHeading h2{
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 220%;
  font-weight: 300;
}
.nrzHeading h2:after{
  margin-top: 10px;
  display: block;
  content: "";
  height:2px;
  width:1200px;
  background-color: #b49ee9;
}
.nrzInput{
  text-align: center;
  margin:40px auto;
}
.nrzRandomButton{
  margin-top: 10px;
  float:left;
}
.nrzRandomButton a:link,
.nrzRandomButton a:visited{
  padding:10px 20px 10px 20px;
  text-decoration: none;
  color:rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,background-color 0.3s;
}
.nrzRandomButton a:hover,
.nrzRandomButton a:active {
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}
#putNrzCanvas{
  margin-top:50px;
  padding:50px;
}
#nrzChart{
  z-index: 99999;
  margin:auto;
  width:1000px !important;
  height:400px !important;
}
.nrzForm{
  float: right;
}
#formNrz{
  display: inline-block;
}
#inputNrz{
  vertical-align: middle;
  width: 100%;
  padding: 12px 20px 11px 20px;
  margin-right:200px;
  font-size:90%;
  text-transform: uppercase;
  border: 2px solid#af96e7;
}
#inputNrz:hover{
  border: 2px solid #4A10D1;
  background-color: #ebe3fd;
}
.nrzFormButton {
  display: inline-block;
  vertical-align: middle;
  transform: translate(-10%,0);
}
.nrzFormButton a:link,
.nrzFormButton a:visited{
  padding:10px 20px 10px 20px;
  text-decoration: none;
  color:rgb(14, 13, 13);
  border: 2px solid#af96e7;
  background-color: #c9b5f7;
  transition: border 0.3s,
  background-color 0.3s;
}
.nrzFormButton a:hover,
.nrzFormButton a:active{
  border: 2px solid #4A10D1;
  background-color: #b49ee9;
}
